Название проектка

тз

план

описание данных

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

In [5]:
user_go = pd.read_csv('datasets/users_go.csv')
user_go.head()

   user_id        name  age            city subscription_type
0        1        Кира   22          Тюмень             ultra
1        2   Станислав   31            Омск             ultra
2        3     Алексей   20          Москва             ultra
3        4  Константин   26  Ростов-на-Дону             ultra
4        5       Адель   28            Омск             ultra

In [6]:
rides_go = pd.read_csv('datasets/rides_go.csv')
rides_go.head()

   user_id     distance   duration        date
0        1  4409.919140  25.599769  2021-01-01
1        1  2617.592153  15.816871  2021-01-18
2        1   754.159807   6.232113  2021-04-20
3        1  2694.783254  18.511000  2021-08-11
4        1  4028.687306  26.265803  2021-08-28

In [7]:
subscriptions_go = pd.read_csv('datasets/subscriptions_go.csv')
subscriptions_go.head()

  subscription_type  minute_price  start_ride_price  subscription_fee
0              free             8                50                 0
1             ultra             6                 0               199

In [9]:
user_go['subscription_type'] = np.where(user_go['subscription_type'] == 'ultra', True, False)
subscriptions_go['subscription_type'] = np.where(subscriptions_go['subscription_type'] == 'ultra', True, False)

"""
user_go.astype({'subscription_type':'bool'})
subscriptions_go.astype({'subscription_type':'bool'})
rides_go['date'] = pd.to_datetime(rides_go['date'])
"""

"\nuser_go.astype({'subscription_type':'bool'})\nsubscriptions_go.astype({'subscription_type':'bool'})\n"